<p>Hi there,</p> 

<p>
You've been invited to arcticsciencehub.
</p>

<p>
To complete your account creation, confirm your email by clicking <a href="<%= link %>">this link</a>, or copy and paste the following link into your browser address bar.
</p>

<p><%= link %></p>

<p>
<i>/arcticsciencehub </i>
</p>
