<p>Hi <%= name%>,</p>

<p>
We are sending you this notification to let you know that we have updated the information associated with your arcticsciencehub account.
</p>

<p>
<i>/arcticsciencehub </i>
</p>
